/********* QUICK RESET *********/
/* Couleurs  */
:root{
    --text-color: #4e4856;
    --pastel-dark: #9f7880;
    --pastel-medium: #d1a0a5;
    --pastel-light: #e9cdcd;
    --bg-color: #fcf9f9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}
a{
    text-decoration: none;
    color: var(--pastel-dark);
    font-weight: 700;
}
button{
    border: none;
    outline: none;
}
ul{
    list-style:none;
}
h1, h2, h3{
    font-family: 'Poiret One', cursive;
}
h2{
    font-size: 1.8rem;
}
section{
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}
/********** HEADER **********/
header{
    width: 100%;
    height: 125px;
    display:flex;
    padding-bottom: 12px;
    background-color: #f8eaea;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.container-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    flex: 3;
}
.container-nav h1{
    padding-top: 20px;
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
    color: var(--text-color);
    font-weight: bold;
}
.container-nav nav{
    height: 50px;
}
.container-nav nav ul{
    display: flex;   
    align-items: center;
}
.container-nav nav ul li{
    padding: 10px 15px;
    margin: 0 5px;
}
.container-nav nav ul li a{
    font-size: 1.2rem;
    position: relative;
    z-index: 2;
    color: var(--text-color);
}
.container-nav nav ul li a::before{
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: var(--pastel-dark);
    z-index: -1;
    transition: transform .3s ease;
    transform: scaleX(0);
    transform-origin: bottom right;
}
.container-nav nav ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: bottom left;
}
header .user-cart{
    text-align: center;
    padding: 25px 15px 15px 15px;
}
header .user-cart a{
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    transition: color 0.3s ease;
}
header .user-cart a i{
    font-size: 2.5rem;
    margin-bottom: 10px;
}
header .user-cart a:hover{
    color: var(--pastel-medium);
}

/******* SECTION SOINS *******/
section.soin h2{
    width: fit-content;
    padding: 10px;
    margin: 30px 0;
    border-bottom: 5px solid var(--pastel-dark);
    border-left: 5px solid var(--pastel-dark);
    letter-spacing: 0.3rem;
    text-transform: uppercase;  
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}
section .container-soin{
    width: 90%;
    height: 100vh;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}
.container-soin .card-soins{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: 80vh;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.5;
    margin: 5px;
    position: relative;
    transition: flex 0.7s ease-in;
    overflow: hidden;
}
.container-soin .card-soins .card-text{
    width: 80%;
    max-height: 70%;
    margin: 0 auto;
    padding: 5px 15px 20px 20px;
    background-color: rgba(233, 205, 205, 0.4);
    opacity: 0;
    border-radius: 30px;
}
.card-soins .card-text span{
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 10px; 
}
.card-soins .card-text button{
    padding: 10px;
    transition: all 0.2s ease-in;
    margin: 10px auto ;
    border: 2px solid var(--pastel-dark);
    background-color: transparent;
}
.card-soins .card-text button:hover{
    background-color: var(--pastel-dark);
}
.card-soins .card-text button:hover a{
    color: var(--bg-color);    
}
.container-soin .card-soins h3{
    position: absolute;
    bottom: 30px;
    left: 30px;
    margin: 0;
    font-size: 1.7rem;
    color: var(--pastel-light);
    opacity: 0;
}
/* Active card */
.container-soin .card-soins.active{
    flex: 5;
}
.container-soin .card-soins.active h3,
.container-soin .card-soins.active .card-text{
    opacity: 1;
}

/* SECTION TARIFS */
section.tarif{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    background-color: var(--pastel-dark);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
section.tarif h2{
    width: fit-content;
    padding: 10px;
    margin: 30px 0 0 150px;
    color: var(--pastel-light);
    border-bottom: 5px solid var(--pastel-medium);
    border-left: 5px solid var(--pastel-medium);
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}
.container-tarif{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
}
.container-tarif .card-tarif{
    width: 35%;
    margin: 10px 0;
}
.container-tarif .card-tarif>h3{
    width: max-content;
    font-size: 1.5rem;
    padding: 0 10px;
    margin: 10px 0;
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-left: 5px solid var(--pastel-medium);
}
.container-tarif .card-tarif .tarif-info{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}
.container-tarif .card-tarif .tarif-info .price{
    font-weight: 700;
}
.card-tarif .tarif-info li{
    margin: 5px 0;
}
section.tarif  button{
    padding: 15px 20px;
    transition: all 0.2s ease-in;
    margin: 10px auto ;
    border-radius: 50px;
    background-color: var(--pastel-light);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
section.tarif  button a{
    color: var(--text-color);
    font-size: 1rem;
}
section.tarif  button:hover{
    background-color: var(--text-color);
}
section.tarif  button:hover a{
    color: var(--bg-color);  
}
/********* CONTACT **********/
section.contact h2{
    width: fit-content;
    padding: 10px;
    margin: 30px 0;
    border-bottom: 5px solid var(--pastel-dark);
    border-left: 5px solid var(--pastel-dark);
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}
.container-contact{
    display: flex;
    justify-content: space-between;
}
.container-contact .left .contact-options{
    padding: 50px 0;
}
.container-contact .left .opening-time h3,
.container-contact .left .contact-options h3,
.container-contact .right .adress h3
{
    font-size: 1.4rem;
    margin: 20px 0;
    padding: 0 10px;
    border-left: 5px solid var(--pastel-dark);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
.container-contact .left .opening-time p,
.container-contact .left .contact-options p{
    margin: 5px 0;
}
.container-contact .right address{
    margin: 20px 0;
}
/******** FOOTER **********/
footer{
    background-color: var(--pastel-light);
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

}
footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.8;
}
footer div ul{
    width: 120px;
    display: flex;
    justify-content: space-between;
}
footer div ul li a{
    font-size: 1.4rem;
}

/******** MEDIA QUERIES ************/

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .container-soin{
        width: 100%;
        flex-direction: column;
    }
    section.tarif{
        margin: 151px 0 40px 0;
    }
}
